# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
Packages/
HLMapPinEx/
HLTour/
MRTKExamples/
Pin/
PinInteraction/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.consulo/
*.tmp
*.pdb
*.opendb

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Packages_/
!*.meta
Assets/Packages.meta
Assets/WSATestCertificate.pfx.*

# Visual Studio cache directory
.vs/
